<div class="projects">
  {% assign selected_projects = site.projects | where: 'selected', true | sort: 'importance' %}
  <div class="row row-cols-1 row-cols-md-3">
    {% for project in selected_projects %}
      {% include projects.liquid %}
    {% endfor %}
  </div>
</div>